section {
    text-align: center;
}

.parc ul{
    border: 3px solid black;
    border-radius: 20px;
    width: 320px;
    height: 300px;
    padding: 30px;
}

.parc ul li {
    list-style: none;
    padding: 5px;
}

.offres {
    display: flex;
    flex-direction: row;
}

.parc{
display: flex;
flex-direction: row;
margin: auto;

}
svg{
    color: black;
  margin-right: 5px;  
  width: 18px;
}

button .navbar-toggler {
    border-radius: none;
    box-shadow: none;
    list-style: none;
}
